@mixin flexBox($jf, $ai) {
  display: flex;
  justify-content: $jf;
  align-items: $ai;
}

.movieSelected {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  @include flexBox(center, center);
}

.sofiaStupid {
  color: red;
  font-size: 3em;
}
