@mixin flexBox($jf, $ai) {
  display: flex;
  justify-content: $jf;
  align-items: $ai;
}

.movieSelected {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  //@include flexBox(center, center);

  .movieData {
    @include flexBox(flex-start, flex-end);

    .movieImage {
      max-height: 700px;
      width: 100%;
      overflow: hidden;

      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }

    .movieText {
      position: absolute;
      padding: 6rem;
      font-size: 2em;
    }
  }
}
